$input-color: #040f1a;
$background-color: #071422;
$profile-color: #0b1b2b;
$post-color: #112131;
$border-color: #1c2f41;
$label-color: #3a536b;
$span-color: #7b96b2;
$text-color: #afc2d4;
$subtitle-color: #c4d4e3;
$title-color: #e7edf4;
$brand-blue: #3294f8;
$brand-blue-lighter: #52a4f5;
